*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    width: 320px;
    background: #030303;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
}
.sidebar-nav{
    background: #111111;
    border-radius: 10px;
    padding:20px 10px ;
    margin-bottom: 10px;
}
.sidebar-nav .logo{
    width: 120px;
}
img {
    width: 100%;
}
.sidebar-nav ul{
    list-style: none;
}
.sidebar-nav ul li{
    padding: 12px 20px;
}
.sidebar-nav ul li a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
}
.sidebar-nav ul li a:hover{
    color: #fff;
}
.sidebar-nav ul li a i{
    font-size: 20px;
    margin-right: 10px;
}
.library::after{
    content: '+';
    float: right;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
}
.create-playlist {
    background: #302e2e;
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.sidebar-scroll{
    height: 120px;
    overflow: auto;
}
.sidebar-scroll::-webkit-scrollbar{
    background: transparent;
}
.sidebar-scroll::-webkit-scrollbar-thumb{
    background: transparent;
    width: 10px;
}
.sidebar-scroll:hover::-webkit-scrollbar-thumb{
    background: #515050;
    width: 5px;
}
.create-playlist h4{
    color: #fff;
    font-size: 15px;
}
.create-playlist p{
    color: #fff;
    font-size: 12px;
    margin: 12px 0;
}
.create-playlist button{
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.cp{
    cursor: pointer;
}
.bp{
    cursor: pointer;
}
.privacy ul li a{
    text-decoration: none;
    color: #817d7d;
    font-size: 12px;
    font-weight: 600;
    margin: 0 6px;
}
.privacy ul li a:hover{
    text-decoration: underline;
    color: #fff;
}
.privacy ul{
    list-style: none;
    margin-top: 20px;
}
.privacy ul li{
    padding: 0 12px;
    padding-bottom: 12px;
}
.eng-button{
    padding: 60px 30px ;
}
.eng-button ul li a{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    border: 1px solid #817f7f;
    border-radius: 20px;
    margin: 20px 0;
    cursor: pointer;
}
.eng-button ul li a:hover{
    padding: 11px 31px;
    border: 1px solid #fff;
}

.box2 {
    height: 65%;
}



.main-section{
    margin-left: 320px;
    background: #181818;
    height: 100vh;
    overflow-y: auto;
    margin-bottom: 80px;
}
.main-section::-webkit-scrollbar{
    background: transparent;
}
.main-section::-webkit-scrollbar-thumb{
    background: transparent;
    width: 10px;
}
.main-section:hover::-webkit-scrollbar-thumb{
    background: #515050;
    width: 5px;
}
.main-section .top-nev{
    padding: 20px 30px;
    background: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.main-section .top-nev button{
    background: transparent;
    border: 0;
    outline: 0;
}
.main-section .top-nev .prev-btn button i{
    color: #828080;
    font-size: 22px;
    margin-right: 20px;
}
.main-section .top-nev .prev-btn button i:hover{
    color: #cdc8c8;
   cursor: pointer;
}
.top-nev .login-btn .sign-up{
    color: #828080;
    font-size: 16px;
    font-weight: 600;
    margin-right: 25px;
    cursor: pointer;
}
.top-nev .login-btn .sign-up:hover{
    color: #ffffff;
}
.top-nev .login-btn .login{
    color: #242424;
    font-size: 16px;
    font-weight: 600;
    background: #afafaf;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}
.top-nev .login-btn .login:hover{
    background: #f3f3f3;
}
.spotify-playlist{
    padding: 20px 40px;
}
.spotify-playlist h2{
    color: #fff;
    font-size: 22px;margin-bottom: 20px;
    cursor: pointer;
}
.spotify-playlist h2:hover{
    text-decoration: underline;
    color: #ffffff;
}
.spotify-playlist .card{
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.spotify-playlist .card .item{
    width: 190px;
    min-width: 140;
    background-color: #181818;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
}
.spotify-playlist .card .item:hover{
   background-color: #3d3b3b;
}
.spotify-playlist .card .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}
.spotify-playlist .item h4{
    color: #fff;
}
.spotify-playlist .item p{
    color: #8f8a8a;
    font-size: 13px;
    margin-top: 10px;
}
.spotify-playlist .item p:hover{
   text-decoration: underline;
}
.spotify-playlist .play-btn{
    position: relative;
}
.spotify-playlist .play-btn i{
    position: absolute;
    background: #1db954;
    border-radius: 50%;
    padding: 10px;
    right: 8px;
    top: -40px;
    opacity: 0;
    transform: 0.3s ease all;
}
.spotify-playlist .card .item:hover .play-btn i{
    opacity: 1;
    transform: translateY(-20px);
}

.footer-section{
    padding: 20px 40px;

}
.footer-section .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-section .footer .footer-links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-section .footer .footer-links .footer-column{
    margin: 0 12px;

}
.footer-section .footer .footer-links div{
    color: #fff;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 16px;
}
.footer-section .footer .footer-links ul{
    list-style: none;
    margin: 6px 0;
}
.footer-section .footer .footer-links ul li a{
   text-decoration: none;
   color: #939696;
   font-size: 14px;
   cursor: pointer;
}
.footer-section .footer .footer-links ul li a:hover{
    text-decoration: underline;
    color: #ffffff;
    
 }
 .footer .social-links i{
    color: #fff;
    background: #353434;
    padding: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
 }
 .footer .social-links i:hover{
    background: #636161;
 }
 hr{
    margin: 20px 40px;
    border: 0;
    outline: o;
    border: 1px solid #575656;
 }
 .copyright{
    padding: 0 40px;
    color: #969393;
    font-size: 15px;
    margin-bottom: 30px;
 }
 .previwe{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right,#ae2896,#509bf5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 40px;
 }
 .previwe h4{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
 }
 .previwe p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #fff;
 }
 .previwe button{
    padding: 12px 30px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
 }
 .previwe button:hover{
    background: #cecaca;
    
}
.spotify-playlist .show-btn{
    padding:10px;
    float: right;
    color: #8b8a8a;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
}
.spotify-playlist .show-btn:hover{
    text-decoration: underline;
}

.spotify-playlists{
    padding: 20px 40px;
}
.spotify-playlists h2{
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
    cursor: pointer;
}
.spotify-playlists h2:hover{
    text-decoration: underline;
    color: #ffffff;
}
.spotify-playlists .cards{
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.spotify-playlists .cards .items{
    width: 190px;
    min-width: 140;
    border-color: #181818;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
}
.spotify-playlists .cards .items:hover{
    background-color: #3d3b3b;
}
.spotify-playlists .cards .items img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}
.spotify-playlists .items h4{
    color: #fff;
}
.spotify-playlists .items p{
    color: #8f8a8a;
    font-size: 13px;
    margin-top: 10px;
}
.spotify-playlists .items p:hover{
   text-decoration: underline;
}
.spotify-playlists .play-btns{
    position: relative;
}
.spotify-playlists .play-btns i{
    position: absolute;
    background: #1db954;
    border-radius: 50%;
    padding: 10px;
    right: 8px;
    top: -40px;
    opacity: 0;
    transform: 0.3s ease all;
}
.spotify-playlists .cards .items:hover .play-btns i{
    opacity: 1;
    transform: translateY(-20px);
}
.spotify-playlists .show-btns{
    padding:10px;
    float: right;
    color: #8b8a8a;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
}
.spotify-playlists .show-btns:hover{
    text-decoration: underline;
}
